node_modules
.next
out
public
dist
coverage

# Ignore configuration files
.config/*
.env
*.d.ts

# Ignore README and other documentation files
README.md
CHANGELOG.md
CONTRIBUTING.md
LICENSE.md
LICENSE